<section>
  <app-container>
    <h1 class="title">Movies List</h1>
    <div *ngIf="isLoading; else movieList" class="movies-grid">
      <div class="skeleton-movie" *ngFor="let skeleton of skeletons">
        <div class="skeleton skeleton-poster"></div>
        <div class="skeleton skeleton-title"></div>
      </div>
    </div>
    <ng-template #movieList>
      <ul class="movies-grid">
        <app-movie-card *ngFor="let movie of movies" [movie]="movie">
          <div card-footer>
            <p>Release Year: {{ movie.Year }}</p>
          </div>
          <div card-header>
            <h2 class="movie-title" title="{{ movie.Title }}">
              {{ movie.Title }}
            </h2>
          </div>
        </app-movie-card>
      </ul>
    </ng-template>
  </app-container>
</section>
